$icomoon-font-family: "vsqlik" !default;
$icomoon-font-path: "../fonts" !default;

@font-face {
  font-family: '#{$icomoon-font-family}';
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?fphd1f');
  src: url('#{$icomoon-font-path}/#{$icomoon-font-family}.eot?fphd1f#iefix') format('embedded-opentype'),
       url('#{$icomoon-font-path}/#{$icomoon-font-family}.ttf?fphd1f') format('truetype'),
       url('#{$icomoon-font-path}/#{$icomoon-font-family}.woff?fphd1f') format('woff'),
       url('#{$icomoon-font-path}/#{$icomoon-font-family}.svg?fphd1f##{$icomoon-font-family}') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.vsqlik-icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: '#{$icomoon-font-family}' !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

$vsqlik-icons: (
    check: "\ea10",
    save: "\e962",
    cancel: "\ea0d",
    edit: "\e905",
    reload: "\e984",
    delete: "\e9ac",
    add: "\ea0a"
);

@mixin vscodeIcon($name) {
    @extend .vsqlik-icon;
    content: map-get($vsqlik-icons, $name);
}

/**
 * icon scss
 */
.vsqlik-icon--save {
  &:before {
    content: map-get($vsqlik-icons, save);
  }
}

.vsqlik-icon--cancel {
  &:before {
    content: map-get($vsqlik-icons, cancel);
  }
}

.vsqlik-icon--edit {
  &:before {
    content: map-get($vsqlik-icons, edit);
  }
}

.vsqlik-icon--reload {
  &:before {
    content: map-get($vsqlik-icons, reload);
  }
}

.vsqlik-icon--delete {
  &:before {
    content: map-get($vsqlik-icons, delete);
  }
}

.vsqlik-icon--add {
  &:before {
    content: map-get($vsqlik-icons, add);
  }
}
