/** bootstrap reboot and variables */
@import "./button";
@import "./form";
@import "./icons";
@import "./theme";

html, body {
    height: 100%;
    padding: 0;
    margin: 0;
}

body {
    padding: 2rem 1.5rem;
}
