:host {

  .settings__row {

    display: flex;
    flex-direction: row;

    .col__left {
      flex: 0 0 200px;
    }

    .col__right {
      flex: 1;

      display: flex;
      flex-direction: column;
      align-items: flex-start;

      &--folder {
        flex: 1;
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
      }

      &--folder input[type="checkbox"] {
        margin: 0 1rem 0 0;
      }
    }
  }
}
