<!--
    Section Template: list of available connections
-->
<ng-template #list>
    <header>
        <div class="label">
            Available Connections
        </div>
        <div class="actions">
            <button class="btn action" (click)="createSetting()">
                <span class="label">Create Connection</span>
            </button>
        </div>
    </header>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Host</th>
                <th>Port</th>
                <th>Secure</th>
                <th>Skip Certificate</th>
                <th class="action-col"></th>
            </tr>
        </thead>
        <tbody>
            <vsqlik-settings--table-row *ngFor="let setting of settings"
                [setting]="setting"
                (edit)="editSetting($event)"
                (delete)="deleteSetting($event)">
            </vsqlik-settings--table-row>
        </tbody>
    </table>
</ng-template>

<!--
    Section Template: Edit / Create Connection
-->
<ng-template #edit>
    <vsqlik-settings--edit (cancel)="cancelEdit()" (save)="onSave($event)">
    </vsqlik-settings--edit>
</ng-template>

<header class="header">
    <h3>VsQlik Connection Settings</h3>
</header>

<div class="main">

    <div class="content">
        <ng-container [ngTemplateOutlet]="currentViewMode === viewMode.EDIT ? edit : list">
        </ng-container>
    </div>
</div>
