:host {
    display: flex;
    flex-direction: column;
    height: 100%;

    .main {
        flex: 1;
        display: flex;
        flex-direction: row;
    }

    .main .sidebar {
        flex: 0 0 10rem;
    }

    .main .content {
        flex: 1;
    }

    header {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    table {
        width: 100%;
    }

    table ::ng-deep {

        tr {
            display: flex;
        }

        td, th {
            flex: 1;
            display: flex;
            overflow: hidden;
            text-overflow: ellipsis;
            padding: .2rem .5rem;
            align-items: center;
        }

        td {
            cursor: pointer;
        }

        .action-col {
            display: flex;
            flex: 0 0 120px;
            overflow: hidden;
            justify-content: flex-end;

            .btn {
                margin: 0 .25rem 0 0;
                padding: .5rem;
            }

            .btn:last-child {
              margin: 0;
            }
        }
    }

    vsqlik-wfs--table-row-edit,
    vsqlik-wfs--table-row {
        margin-bottom: .5rem;
        display: table-row;
    }

    vsqlik-wfs--table-row-edit ::ng-deep {

        td:not(.action-col) {
            padding: 0;
        }

        input[type="text"] {
            padding: .2rem .5rem;
        }

        .checkbox {
            margin: .2rem .5rem;
            align-self: center;
        }
    }
}
